altgraph==0.17.5
asttokens==3.0.1
certifi==2026.1.4
charset-normalizer==3.4.4
colorama==0.4.6
comm==0.2.3
debugpy==1.8.20
decorator==5.2.1
executing==2.2.1
idna==3.11
ipykernel==7.2.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jupyter_client==8.8.0
jupyter_core==5.9.1
matplotlib-inline==0.2.1
nest-asyncio==1.6.0
numpy==2.4.6
packaging==26.0
pandas==3.0.3
parso==0.8.5
pefile==2024.8.26
platformdirs==4.5.1
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2-binary==2.9.11
pure_eval==0.2.3
Pygments==2.19.2
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pywin32-ctypes==0.2.3
pyzmq==27.1.0
requests==2.32.5
Send2Trash==2.1.0
setuptools==80.10.2
six==1.17.0
stack-data==0.6.3
tornado==6.5.4
traitlets==5.14.3
tzdata==2026.2
urllib3==2.6.3
wcwidth==0.5.3
